<div class="container">

    <div class="background">
        <img src="https://www.api-football.com/public/img/home1/hero-banner.png">
        <img class="reverse" src="https://www.api-football.com/public/img/home1/hero-banner.png">
    </div>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
            <mat-card-subtitle>Welcome to My Time</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <div class="body">
                <p>
                    Here you need to enter your <i>Key</i> to proceed and enjoy the system information
                </p>

                <div class="inputs">
                    <mat-form-field>
                        <mat-label>Key API</mat-label>
                        <input matInput type="text" [(ngModel)]="key">
                        <button *ngIf="key" matSuffix mat-icon-button aria-label="Clear" (click)="key=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <div class="button">
                        <button *ngIf="(loading$ | async) === false" mat-flat-button color="primary" (click)="verifyKey()">Access</button>
                        <mat-spinner *ngIf="loading$ | async"></mat-spinner>
                    </div>

                </div>
            </div>

            <p class="register">
                If you still don't have the <i>key</i> please click <a href="https://dashboard.api-football.com/register">Here</a>
            </p>
        </mat-card-content>
    </mat-card>
</div>